# Jetbrains
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data files
data.json

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Notebook
.ipynb_checkpoints

# SQLite database
*.sqlite3
*.sqlite3-journal

# Outputs
*.out

# Config
config.json